<html>
  <head>
    <title>Accueil</title>
    <link rel='stylesheet' href='/stylesheets/forget_password.css' />
  </head>
  <body>
    <h2>Reset Password</h2>
    <div class="email">
      <form class="email_for_reset">
        <label for="email">Email :</label>
        <input id="email" type="email" name="email">
        <input id="submit" type="submit" name="submit" value="submit">
      </form>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
      $('#submit').click(function () {
              $.ajax({
                type: 'post',
                data: JSON.stringify({
                      email: $('#email').val()
                      }),
                contentType: 'application/json; charset=utf-8',
                url: 'forget_password',
              });
              location.reload();
      });
    </script>
  </body>
</html>
