<!DOCTYPE html>
<html>
  <head>
    <title>Accueil</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>

	  <% if (!locals.login) { %>

<div class="div_enter_data">
	<% if (locals.message) { %>
		<p><%= locals.message %></p>
		<% } if (locals.error) { %>
			<p><%= locals.error %></p>
		<% } %>

		<div id="title_div_su">
			<h2>Sign up</h2>
		</div>

<!--   TEST AJAX -->
<div id="form_div_su">
  <form class="form-inline" role="form" id="register_form" method="post">
    <div class="form-group">
        <label for="nom">Nom :</label>
        <input name='nom' type="text" id="nom" required/>
    </div>
		<br>
		<div class="form-group">
	        <label for="prenom">Prénom :</label>
	        <input name='prenom' type="text" id="prenom" required/>
	    </div>
		<br>
		<div class="form-group">
	        <label for="login">Nom d'utilisateur :</label>
	        <input name='login' type="text" id="login" required/>
	    </div>
		<br>
    <div>
        <label for="email">Email :</label>
        <input name='email' type="email" id="email" required/>
    </div>
		<br>
		<div>
			<label for="sex_homme">Je suis un homme :</label>
			<input type="radio" value="homme" name="sex" /><br />
			<label for="sex_femme">Je suis une femme :</label>
			<input type="radio" value="femme" name="sex" />
		</div>
    <br>
		<div>
			<label for="orientation_hetero">Je suis hetero :</label>
			<input type="radio" value="hetero" name="orientation" /><br />
			<label for="orientation_hommo">Je suis hommo :</label>
			<input type="radio" value="hommo" name="orientation" /><br />
			<label for="orientation_bi">Je suis bi :</label>
			<input type="radio" value="bi" name="orientation" checked/><br />
		</div>
		<br>
    <br>
		<div class="date">
			<label for="date">Date de naissance :</label>
			<input type="date" name="date" id="date" data-relmax="-18" required>
		</div>
		<br>
    <div>
      <label for="password">Password :</label>
      <input name='password' type="password" id="password" required></input>
    </div>
	  <br>
  	<div>
        <label for="password_conf">Password confirmation :</label>
        <input name='password_conf' type="password" id="password_conf" required ></input>
    </div>
  	   <br>
        <div >
            <input id="register_bouton" class="buttontest" type="button" value="Sign up"/>
        </div>
    </form>
  </div>
</div>
<!-- FIN TEST -->

	<div class="div_enter_data">
		<div id="title_div_si">
			<h2>Sign in</h2>
		</div>
		<div id="form_div_si">
			<form action="/connexion" method="post">
			    <div>
			        <label for="login_log">Login :</label>
			        <input name='login_log' type="text" id="login_log" />
			    </div>
				<br>
				<div>
			        <label for="password_log">Password :</label>
			        <input name='password_log' type="password" id="password_log" />
			    </div>
				<br>
			    <div class="button">
			        <button type="submit">Sign in</button>
			    </div>
			</form>
		</div>
	</div>


  <p>
    <a href="forget_password">Mot de passe oublié ?</a>
  </p>


	<% } else {%>
	<div class="div_enter_data">
		<form action="/deconnexion" method="post">
		    <div class="button">
		        <button type="submit">Deconnexion</button>
		    </div>
		</form>
	</div>
	<% } %>

  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function(){
    $('input[data-relmax]').each(function () {
        var oldVal = $(this).prop('value');
        var relmax = $(this).data('relmax');
        var max = new Date();
        max.setFullYear(max.getFullYear() + relmax);
        $.prop(this, 'max', $(this).prop('valueAsDate', max).val());
        $.prop(this, 'value', oldVal);
    });

	var toto = new Array();
	var accept = 0;

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    }

    function submitBday() {
    var Q4A = "Your birthday is: ";
    var Bdate = document.getElementById('bday').value;
    var Bday = +new Date(Bdate);
    Q4A += Bdate + ". You are " + ~~ ((Date.now() - Bday) / (31557600000));
    var theBday = document.getElementById('resultBday');
    theBday.innerHTML = Q4A;
}

    $('#register_bouton').click(function () {
            $.ajax({
              type: 'post',
              data: JSON.stringify({
                    nom: $("#nom").val(),
                    prenom: $("#prenom").val(),
                    login: $("#login").val(),
                    email: $('#email').val(),
					sex: $("input[name='sex']:checked").val(),
					orientation: $("input[name='orientation']:checked").val(),
					date: $('#date').val(),
                    password: $('#password').val(),
                    password_conf: $("#password_conf").val(),
					longitude: toto[0],
					latitude: toto[1],
					accept: accept
                    }),
              contentType: 'application/json; charset=utf-8',
              url: 'testajax',
            });
            //$(':input','#register_form').not(':button, :submit, :reset, :hidden')
            //.val('')
            //.removeAttr('checked')
            //.removeAttr('selected');
            location.reload();
        });

		function showPosition(position) {
			toto[0] = position.coords.longitude;
			toto[1] = position.coords.latitude;
			accept = 1;
		}

      });
  </script>

  </body>
</html>
