<html>
  <head>
    <title>Accueil</title>
    <link rel='stylesheet' href='/stylesheets/forget_password.css' />
  </head>
  <body>
    <h2>Reset Password</h2>
    <h2><%= email_hidden %></h2>
    <div class="email">
      <form class="reset_password">
        <label for="password_one">New password :</label>
        <input id="password_one" type="password" name="password_one">
        <br>
        <label for="password_one">Password confirmation :</label>
        <input id="password_two" type="password" name="password_two">
        <input id="submit" type="submit" name="submit" value="submit">
      </form>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
      $('#submit').click(function () {
              $.ajax({
                type: 'post',
                data: JSON.stringify({
                      password_one: $('#password_one').val(),
                      password_two: $('#password_two').val(),
                      email_hidden: <%- JSON.stringify(email_hidden) %>
                      }),
                contentType: 'application/json; charset=utf-8',
                url: 'reset_password',
              });
              $('#password_one').val('');
              $('#password_two').val('');
              return false;
      });
    </script>
  </body>
</html>
