.suggestions {
	border: 1px solid black;
	width: 100%;
	height: 500px;
	margin-top: 60px;
}

.user_suggestion {
	border: 1px solid black;
	display: inline-block;
}


* { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      #mess { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      #mess input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      #mess button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }

.error {
	color: red;
}

.whisper {
	color: gray;
	font-style: italic;
}

.amis {
	color: red;
	display: inline-block;
	border: 1px solid black;
	padding: 3px;
}

.friends {
	font-style: italic;
}

.chat_wid {
	width:200px;
	height:400px;
	float:right;
	border:1px solid black;
}

.header_wid {
	height: 50px;
	border: 1px solid black;
}

.viewer_of_my_profil {
	border: 1px solid black;
	margin-top: 5px;
	display: inline-block;
	padding: 3px;
}

#user_input_autocomplete_address {
	width: 400px;
}
