body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.div_enter_data {
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: AUTO;
	WIDTH: 20%;
	height: 15%;
	text-align: center;
	min-width: 160px;
	margin-top: 4vmin;
}

#form_div_si {
	border: 1px solid black;
	padding-bottom: 15px;
}

#form_div_su {
	border: 1px solid black;
	padding-bottom: 15px;
}

#title_div_si {
	border: 1px solid black;
}

#title_div_su {
	border: 1px solid black;
}

form {
	padding-top: 10px;
}
